.shop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .data {
        width: 80%;
        display: flex;
        justify-content: center;

        .prod-data {
            margin: 0;
            padding: 0;

            a {
                width: 33.3%;
            }
        }
    }
}

@media screen and (max-width:700px) {
    .shop {
        .prod-data {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            img {
                width: 100%;
            }

            a {
                width: 40% !important;
                font-weight: normal;
                font-size: small;
            }
        }
    }
}