/* DropdownDescription.scss */
.dropdown-description {
    margin-bottom: 1rem;
    
  }
  
  .toggle-button {
    background-color: #f0f0f0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .description {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    width: 100%;
}
  